:host {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px;
        background-color: #123456;
        color:#fff;
    }
    .search {
        background-color: #fff;
        width: 33%;
        border-radius: 6px;
        input {
            width: 100%;
        }
    }
}